
main {
    display: flex;
    flex-direction: column;
}

#app-container {
    flex: 1;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

#change-gamemode, #select-mode {
    position: absolute;
    top: 0;
    font-size: 0.7rem;
    border-top: none;
    border-bottom: var(--color-2) solid 5px;
    background-color: var(--color-1);
}

#change-gamemode:hover, #select-mode:hover {
    background-color: white;
}

#change-gamemode {
    z-index: 2;
    border-right: var(--color-2) solid 5px;
    border-left: none;
    border-radius: 0 0 20px 0;
    width: clamp(20px, 10vw, 30px);
    height: clamp(17px, 8vw, 27px);
    overflow-y: hidden;
    padding: 2px;
}

#select-mode {
    right: 0;
    border-left: var(--color-2) solid 5px;
    border-right: none;
    border-radius: 0 0 0 20px;
}

/* #region: select-gamemode-container */
#screen-overlay {
    position: absolute;
    inset: 0;
    margin: auto;
    pointer-events: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 0.3s ease;
}

#mode-selector-container {
    width: fit-content;
    height: fit-content;
    padding: 20px;
    border-radius: 20px;
    margin: auto;

    background-color: var(--color-2);
    color: var(--background-color);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#mode-selector {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
}

#mode-selector button {
    width: clamp(20px, 20vw, 150px);
    height: clamp(20px, 20vw, 150px);
    background-color: var(--background-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    overflow-y: hidden;
    transition: all 0.3s ease;
}
#mode-selector button:hover {
    transform: scale(1.03);
    background-color: var(--color-1);
}

#mode-selector button img {
    object-fit: fill;
}

/* #endregion */

#scoreboard {
    width: clamp(30px, 80vw, 330px);
    font-size: 0.8rem;
    display: grid;
    grid-template-columns:  2fr 1fr;
    gap: 5%;
    justify-items: center;
}


#minigame-container {
    background-color: var(--color-1);
    width: clamp(50px, 80vw, 650px);
    height: clamp(100px, 60vh, 325px);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}


#info-span {
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    cursor: default;
    user-select: none;
}

/* #region: two-player-stats */

#players-scores {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
}

hr {
    width: 100%;
    display: inline-block;
    grid-column: 1/-1;
    height: 5px;
    background-color: black;
    border: none;
    border-radius: 20px;
}


#winner-dialog {
    width: fit-content;
    height: fit-content;
    padding: 40px 50px;
    border-radius: 20px;
    margin: auto;
    position: relative;

    background-color: var(--color-2);
    color: var(--background-color);

    display: none;
    flex-direction: column;
    gap: 20px;
}

#close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px;
    border-radius: 0 20px 0 10px;
    font-size: 1.3rem;
    background-color: var(--color-1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#close:hover {
    background-color: white;
}

#stats {
    width: 100%;
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    gap: 5%;
    justify-items: center;
}
/* #endregion */
