header>p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    justify-self: center;
}

select {
    appearance: none;
    height: 100%;
    width: fit-content;
    padding-right: 2px;
    vertical-align: middle;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.7rem;
    background-color: var(--color-2);
    text-align: center;
}

#scoreboard {
    width: clamp(30px, 80vw, 330px);
    font-size: 0.8rem;
    display: grid;
    grid-template-columns:  2fr 1fr;
    gap: 5%;
    justify-items: center;
    align-items: center;
}

#minigame-container {
    position: relative;
    background-color: var(--color-1);
    width: clamp(50px, 80vw, 850px);
    height: clamp(300px, 60vh, 450px);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    user-select: none;
    margin-bottom: 20px;
}

#play-btn {
    padding: 15px;
    border-radius: 20px;
    background-color: var(--color-2);
    font-size: 1rem;
}

#play-btn:hover {
    background-color: white;
    transform: scale(1.05);
}

#target {
    position: absolute;
    background: none;
    padding: 0;
    border: none;
    display: none;
    border-radius: 90%;

    -webkit-tap-highlight-color: transparent;
}

#target img {
    width: 100%;
    object-fit: cover;
    border-radius: 90%;
}

.easy-difficulty {
    width: clamp(100px, 18vw, 200px);
    height: clamp(100px, 18vw, 200px);
}

.medium-difficulty {
    width: clamp(50px, 10vw, 100px);
    height: clamp(50px, 10vw, 100px);
}

.hard-difficulty {
    width: clamp(25px, 6vw, 40px);
    height: clamp(25px, 6vw, 40px);

}

.hidden {
    opacity: 0;
}

/* #region: two-player-stats */

#players-scores {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
}

hr {
    width: 100%;
    display: inline-block;
    grid-column: 1/-1;
    height: 5px;
    background-color: black;
    border: none;
    border-radius: 20px;
}


#winner-dialog {
    width: fit-content;
    height: fit-content;
    padding: 40px 50px;
    border-radius: 20px;
    margin: auto;
    position: relative;

    background-color: var(--color-3);
    border: 5px solid black;
    color: var(--color-4);

    display: none;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

#close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px;
    border-radius: 0 0 0 10px;
    border: none;
    font-size: 1.3rem;
    background-color: var(--color-3);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#close:hover {
    background-color: white;
}

#stats {
    width: 100%;
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    gap: 5%;
    justify-items: center;
    align-items: center;
}

#extended-stats {
    width: 100%;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    gap: 5%;
    justify-items: center;
    align-items: center;
}

#stats p, #extended-stats p, #scoreboard p, #players-scores span {
    display: inline-block;
    text-align: center;
}

/* #endregion */

@media (min-width: 720px) {
    header p {
        flex-direction: row;
    }
}
